*{ margin: 0; padding: 0;}

body {
    font: 100% normal Arial, Helvetica, sans-serif; 
    background: #161712;
    color: #bbbbbb;
}

form,input,select,textarea{
    margin: 0;
    padding: 0;
    color: #ffffff;
}

/* Configurações do BOX mais EXTERNO PRIMÁRIO e seus elementos interos */

.style1 { /* Verificar da onde que é este estilo, olhar a pagina de login e associadas */
font-size: 36px;
font-weight: bold;
}

.hide {display:none;} /* classe associada ao form, utilizando javascript, enviado pelo ismael, analisar este uso e modificações */


/* BOX mais externo que contém o FORMULÁRIO */ 
div.box {
    margin:  2% 5%;
    min-width: 600px;
    width: 90%;
    background: #222222 ;
    float: left;
    border: 1px solid #262626;
}

/* BOX que contém o CABEÇALHO do FORMULÁRIO */
div.box H1 {
    color: #8fbc8f;
    font-size: 130%;
    text-transform: uppercase;
    padding: 5px 0 5px 5px;
    border-bottom: 1px solid #161712;
    border-top: 1px solid #161712;
    text-align: center;
}

/* BOX que contém o CABEÇALHO secundário do FORMULÁRIO */
div.box H2 {
    color: #8fbc8f;
    min-width: 600px;
    width: 100%;
    float: left;
    font-size: 120%;
    text-transform: uppercase;
    padding: 5px 0 5px 5px;
    border-bottom: 1px solid #161712;
    border-top: 1px solid #161712;
    text-align: center;
}

/* BOX que contém o CABEÇALHO secundário do FORMULÁRIO */
div.box H3 {
    color: #8fbc8f;
    font-size: 110%;
    text-transform: uppercase;
    padding: 5px 0 5px 5px;
    border-bottom: 1px solid #161712;
    border-top: 1px solid #161712;
    text-align: center;
}


/* Configuração da coluna da esquerda do BOX do formulário */
div.box .esquerda {
    width: 46%;
    min-width: 300px;
    float: left;
    margin: 1% 2% 1% 2%;
}

/* Configuração da coluna da direita do BOX do formulário */
div.box .direita {
    width: 46%;
    min-width: 300px;
    float: left;
    margin: 1% 2% 1% 2%;
}

/* Configuração da coluna da centralizada do BOX do formulário */
div.box .centro {
    width: 96%;
    float: left;
    margin: 1% 2% 1% 2%;
}

div.box .message {
    padding: 7px 7px;
    width: 55%;
    min-width: 145px;
    background: #262626;
    border-bottom: 1px double #FFFFFF;
    border-top: 1px double #FFFFFF;
    border-left: 1px double #FFFFFF;
    border-right: 1px double #FFFFFF;
    overflow: hidden;
    min-height: 10.6%;
}


/* Botão de SUBMETER do BOX do Formulário */
div.box .submeter {

    margin: 1.2% 0% 1% 1%;
    font-weight: bold;
    line-height: 1;
    padding: 0.34% 0.6%;
    cursor:pointer;
    color: #fff;
    float: right;
    text-align: center;
    text-shadow: 0 -1px 1px #64799e;
 
    /* Gradiente de fundo */
    background: #a5b8da;
    background: -moz-linear-gradient(top, #a5b8da 0%, #7089b3 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a5b8da), to(#7089b3));
 
    /* Estilo de borda */
    border: 1px solid #5c6f91;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
 
    /* Sobra do box */
    -moz-box-shadow: inset 0 1px 0 0 #aec3e5;
    -webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
    box-shadow: inset 0 1px 0 0 #aec3e5;
}

/* Botão de LIMPAR do BOX do Formulário */
div.box .blimpar {

    margin: 1.2% 0% 1% 1%;
    font-weight: bold;
    line-height: 1;
    padding: 0.34% 0.6%;
    cursor:pointer;
    color: #fff;
    float: right;
    text-align: center;
    text-shadow: 0 -1px 1px #64799e;
 
    /* Gradiente de fundo */
    background: #a5b8da;
    background: -moz-linear-gradient(top, #a5b8da 0%, #7089b3 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a5b8da), to(#7089b3));
 
    /* Estilo de borda */
    border: 1px solid #5c6f91;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
 
    /* Sobra do box */
    -moz-box-shadow: inset 0 1px 0 0 #aec3e5;
    -webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
    box-shadow: inset 0 1px 0 0 #aec3e5;
}


/* Configurações do BOX mais EXTERNO SECUNDÁRIO e seus elementos internos */
#retorna-envio-do-formulario {
  position: fixed;
  top: 77%;
  width: 100%;
  left: 0%;
}

/* BOX mais externo que contém a TABELA de verificação de dados */
div.box2 {
    min-width: 600px;
    max-width: 90%;
    background: #222222;
    border: 1px solid #262626;
    margin: 0 auto;
    
}

/* BOX que contém o CABEÇALHO da área da TABELA */
div.box2 H1 {
    color: #8fbc8f;
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px 0 5px 5px;
    border-bottom: 1px solid #161712;
    border-top: 1px solid #161712;
    text-align: center;
}

/* Configuração da tabela com os dados de conferência*/
.tabela {
    width: 95%;
    font-size: 15px;
    margin: 1% auto;
}

.tab {
width: 100%;
min-width: 500px;
margin: 2% auto;
}

.tabcorpo {
  text-align: center;
}

/* Botão de Registrar do BOX da tabela de conferência */
div.box2 .bregistrar {

    margin: -1% 0% 0% 97%;
    font-weight: bold;
    line-height: 1;
    padding: 0.34% 0.6%;
    cursor:pointer;
    color: #fff;
    text-align: center;
    text-shadow: 0 -1px 1px #64799e;
 
    /* Gradiente de fundo */
    background: #a5b8da;
    background: -moz-linear-gradient(top, #a5b8da 0%, #7089b3 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a5b8da), to(#7089b3));
 
    /* Estilo de borda */
    border: 1px solid #5c6f91;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
 
    /* Sobra do box */
    -moz-box-shadow: inset 0 1px 0 0 #aec3e5;
    -webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
    box-shadow: inset 0 1px 0 0 #aec3e5;
}

/* Configurações do BLOCO a ser inserido */
div.box label {
    display: block;
    background: #1c1c1c;
    border-top: 1px solid #161712;
    border-bottom: 1px solid #161712;
    padding: 10px 0 10px 0;
}


/* Configuração do campo inserido dentro do bloco LABEL */
div.box label span {
    display: block;
    color: #bbbbbb;
    font-size: 100%;
    float: left;
    width: 30%;
    min-width: 130px;
    text-align: left;
    padding: 5px 10px 0 0;
    position: relative;
    left: 5%;
}

div.box .combobox {
    padding: 10px 10px;
    width: 55%;
    min-width: 50px;
    background: #262626;
    border-bottom: 1px double #171717;
    border-top: 1px double #171717;
    border-left: 1px double #333333;
    border-right: 1px double #333333;
    font-size: 90%;
}

div.box .input_text {
    padding: 10px 10px;
    width: 55%;
    background: #262626;
    border-bottom: 1px double #171717;
    border-top: 1px double #171717;
    border-left: 1px double #333333;
    border-right: 1px double #333333;
}


.hint {
   display: none;
}

label:hover .hint {
    position: absolute;                
    display: block;
    margin: -5px 0 0 130px;
    color: #8fbc8f;
    padding: 7px 10px;
    background: rgba(0, 0, 0, 0.8);
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}


/* Configuraçõs da tabela de consulta dos dados do banco */
/* Box mais externo da tabela */
div.box3 {
    min-width: 600px;
    max-width: 90%;
    background: #222222;
    margin: 2% 5%;
    border: 1px solid #262626;

}

/* BOX que contém o CABEÇALHO da área da TABELA */
div.box3 H1 {
    color: #8fbc8f;
    font-size: 25px;
    text-transform: uppercase;
    padding: 5px 0 5px 5px;
    border-bottom: 1px solid #161712;
    border-top: 1px solid #161712;
    text-align: center;
}

/* Configuração da tabela de consulta do banco*/
.tabela2 {
    max-width: 95%;
    min-width: 600px;
    margin: auto;
}

/* Início das configurações do menu */
#menu-bar {
  width: 98.2%;
  margin: 0px 0px 0px 0px;
  padding: 6px 6px 5px 25px;
  height: 34px;
  line-height: 100%;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  box-shadow: 2px 2px 3px #666666;
  -webkit-box-shadow: 2px 2px 3px #666666;
  -moz-box-shadow: 2px 2px 3px #666666;
  background: #8B8B8B;
  background: linear-gradient(top,  #A9C957,  #051C02);
  background: -ms-linear-gradient(top,  #A9C957,  #051C02);
  background: -webkit-gradient(linear, left top, left bottom, from(#A9C957), to(#051C02));
  background: -moz-linear-gradient(top,  #A9C957,  #051C02);
  border: solid 1px #808080;
  position:relative;
  z-index:999;
}
#menu-bar li {
  margin: 0px 0px 6px 0px;
  padding: 0px 7px 0px 8px;
  float: left;
  position: relative;
  list-style: none;
}
#menu-bar a {
  font-weight: bold;
  font-family: arial;
  font-style: normal;
  font-size: 100%;
  color: #DBDBDB;
  text-decoration: none;
  display: block;
  padding: 6px 20px 6px 20px;
  margin: 0;
  margin-bottom: 6px;
  border-radius: 29px;
  -webkit-border-radius: 29px;
  -moz-border-radius: 29px;
  text-shadow: 2px 2px 3px #000000;
}
#menu-bar li ul li a {
  margin: 0;
}
#menu-bar .active a, #menu-bar li:hover > a {
  background: #AC9F7B;
  color: #080808;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #666;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#menu-bar ul a:hover {
  background: #222222 !important;
  color: #DBDBDB !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 2px 2px 3px #3B3B3B;
}
#menu-bar ul {
  background: #DDDDDD;
  background: linear-gradient(top,  #B0B962,  #89A74B);
  background: -ms-linear-gradient(top,  #B0B962,  #89A74B);
  background: -webkit-gradient(linear, left top, left bottom, from(#B0B962), to(#89A74B));
  background: -moz-linear-gradient(top,  #B0B962,  #89A74B);
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 34px;
  left: 0;
  border: solid 1px #B4B4B4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px #222222;
  -moz-box-shadow: 2px 2px 3px #222222;
  box-shadow: 2px 2px 3px #222222;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:10px 0px 10px 15px;
  color:#0D0D0D !important;
  font-size:12px;
  font-style:normal;
  font-family:arial;
  font-weight: bold;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:first-child > a {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
}
#menu-bar ul li:last-child > a {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}